
nav {
  font-weight: 400;
  
  @media (max-width: 650px) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    
    li {
     padding-bottom: 5px; 
    }
    
     ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
  
    .logo 

  }
}
.body {background-color: black;
  color: white;
  font-family: 'Metamorphous', sans-serif;
  margin: 0;
  padding-top: 50px;
    display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / 2;
  @media (max-width: 650px) {
    margin-top: 0;
  }
}

header {background-color: white;
position: fixed;
display: flex;
width: 100%;
min-height: 75px;
  max-height: 150px;
padding: 0px 20px;
top: 0;
left: 0;
justify-content: space-around;
align-items: center;
  @media (max-width: 600px)
    flex-wrap: wrap;}

h1 {text-align: center;
text-decoration: underline;
  font-size: 3em;}

p {padding-left: 50px;
padding-right: 50px;
margin-left: auto;
  margin-right: auto;
}

#header-img {
      height: 80px;
      width: 40%;

}

#ul {display: flex;}
#title {padding-top: 40px;
line-height: 200%;}

#wizards-chillin {display: block; 
  margin-left: auto; 
  margin-right: auto;
border-radius: 40px;}

.btn {
  display: block and margin:0 auto;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 20px;
  background: white;
  cursor: pointer;
}

.container {display: block; 
  margin-left: auto; 
  margin-right: auto;}

.feature {padding-top: 50px;
padding-bottom: 50px;}

#lead-capture {
  margin-left: auto;
  margin-right: auto;
}
   
#form {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  padding-top: 60px; 
  padding-bottom: 60px;
  text-align: center;
}

#gandalf-white-staff {
  display: block;
margin-left: auto;
margin-right: auto;
  
  margin-bottom: 100px;
}
.margin {margin-bottom: 60px;}
hr {
width: 75%;
margin-left: auto;
margin-right: auto;
  color: white;
background-color: white;
  height: 2px;
}

#section-2 {width: 1200px;
    margin: 0px auto -1px auto;
  padding: 15px;}
  
.inside-content {
  display: inline-block;
}

#testimony-parent-div {display: block;}
  
#gandalf-testimony {display: block;
float: left;
padding-left: 10%;
padding-right: 3%;}

#testimony-text {
  padding-right: 30%;
  padding-top: 4%;
}

 


#video {display: block; 
  margin-left: auto; 
  margin-right: auto;
}

#footer {background-color: white;
color: black;
  max-height: 100px;
  width: 100%;
  margin: 0 auto;
}
